@import "../../assets/Scss/variables";
@import "../../assets/Scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.about-me {
    padding: 4rem 0;

    &__label {
        background: url("../../assets/img/about-me-img.png") no-repeat center center;
        padding: 8rem 2rem;

        &__heading {
            @include primary-heading;
        }
    }

    &__desc {
        color: $paragraph-color;
        line-height: 2;

        &__buttons {

            button {
                @include primary-button;
            }
        }
    }
}


@include media-breakpoint-up(lg) {

    .about-me {

        &__label {

            &__heading {
                font-size: 3rem;
            }
        }
    }
}
