<section class="about-me" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5 about-me__label d-flex justify-content-center">
                <h1 class="about-me__label__heading font-weight-bold">About Me</h1>
            </div>
            <div class="col-12 col-lg-7 about-me__desc mt-4">
                <p>My name's Islam. I'm a computer engineering student (undergraduate) in Modern Academy for Engineering and Technology</p>
                <p>I'm a Frontend developer having a prior experience building some personal projects, Passionate to build real-world web applications that makes the world a better place</p>

                <div class="about-me__desc__buttons">
                    <button type="button" class="btn btn-primary mt-4">View Works</button>
                </div>
            </div>
        </div>
    </div>
</section>