<section class="projects">
    <div class="container">
        <div class="row">
            <div class="col-12 projects__header d-flex justify-content-center my-5">
                <h1>Latest Projects</h1>
            </div>
            <div class="projects__cont my-4 col-12">
                <div class="row">
                    <div class="col-12 col-lg-6 my-5">
                        <div class="row">
                            <div class="col-12 projects__project">
                                <img src="../../assets/img/SH-Store-App.png" alt="SH-Store-App">
                                <a href="#" class="projects__project__content text-center">
                                    <h3>SH-Store-App</h3>
                                    <p>Personal Angular Application</p>
                                </a>
                                <div class="overlay">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="row">
                            <div class="col-12 col-lg-6 projects__project mt-5">
                                <img src="../../assets/img/Recipes-book.png" alt="Recipes-book">
                                <a href="#" class="projects__project__content text-center">
                                    <h3>Recipes Book</h3>
                                    <p>Angular Application</p>
                                </a>
                                <div class="overlay d-flex flex-column align-items-center justify-content-center">
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 projects__project mt-5">
                                <img src="../../assets/img/Kerri-Template.png" alt="Kerri-Template">
                                <a href="#" class="projects__project__content text-center">
                                    <h3>Kerri Template</h3>
                                    <p>Simple Landing Page</p>
                                </a>
                                <div class="overlay d-flex flex-column align-items-center justify-content-center">
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 projects__project my-5">
                                <img src="../../assets/img/Budgety-app.png" alt="Budgety-app">
                                <a href="#" class="projects__project__content text-center">
                                    <h3>Budgety App</h3>
                                    <p>Pure Javascript Application</p>
                                </a>
                                <div class="overlay d-flex flex-column align-items-center justify-content-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
