<header class="header">
    <div class="container">
      <div class="row">
        <div class="col-12 header__intro">
          <div class="header__intro__cont text-center">
            <h1 class="header__intro__name text-capitalize font-weight-bold">{{projectSelected.name}}</h1>
            <h3 class="header__intro__desc text-capitalize mt-3">{{projectSelected.desc}}</h3>
          </div>
        </div>
      </div>
    </div>
</header>

<section class="details">
    <div class="container">
        <div class="row">
            <div class="col-12 details__img">
                <img [src]="projectSelected.img" [alt]="projectSelected.name">
            </div>

            <div class="details__skills col-12 my-5">
                <h2>Skills</h2>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let skill of projectSelected.skills">{{skill}}</li>
                  </ul>
            </div>

            <div class="details__link col-12">
                <h2>Website Link</h2>
                <a [href]="projectSelected.link">{{projectSelected.link}}</a>
            </div>
        </div>
    </div>
</section>